.App {

  background-color: rgb(20, 19, 49);
  border: 10px solid rgb(0, 0, 0);
  border-radius: 50%;
  width: 500px;
  height: 500px;
  margin-left: 30%;
  margin-top: 5%;
}

body {
  background: #8758ff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: white;
  font-size: 60px;
  text-align: center;
}

button {
  background-color: #8758ff;
  border: 2px solid black;
  color: white;
  padding: 15px 30px;
  margin-left: 89px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;

}
input {
  background-color: #282c3494;
  border: none;
  border-bottom: 2px solid black;
  padding: 15px 15px;
  color: white;
  margin-left: 20px;
  text-align: center;
}

.flexbox {
  display: flex;
  margin-top: 20px;
  margin-left: 40px;
}